---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<aside>
	<h2>GET TOUCH ME? </h2>
	<p>Whether you have a brilliant project idea, need coding advice, or just want to discuss the fascinating world of technology, I'm here to listen, assist, and collaborate.</p>
	<CallToAction href="mailto:loudhaiefheni74@gmail.com">
		Send Me a Message
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
	<div class="badge-base LI-profile-badge" data-locale="fr_FR" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="loudhaiefheni" data-version="v1"></div>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 4rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
