---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>&copy; {currentYear} Heni LOUDHAIEF | All Rights Reserved</p>

	</div>
	<p class="socials">
		<a class="socials_hover"href="https://www.linkedin.com/in/loudhaief-heni-210b861a1/"><Icon icon="linkedin-logo" size="1.33em" /> LinkedIn</a>
		<a class="socials_hover"href="https://github.com/loudhaiefheni?tab=repositories"><Icon icon="github-logo" size="1.33em" /> GitHub</a>
		<a class="socials_hover"href="https://www.instagram.com/heniloudhaief?igsh=MTR4bHhkdnlqaWgyeQ%3D%3D&utm_source=qr"><Icon icon="instagram-logo" size="1.33em" /> Instagram</a>
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-400);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}
	.socials_hover:hover {
		transform: translateY(-2px);
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
		color: #7611a6;
	}


	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
