---
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<img
			alt="isty image"
			width="100"
			height="50"
			src="/assets/sopra.png"
		/>
		<h2>SOPRA STERIA </h2>
		<p class="titre_stage"><strong>Sopra Steria x Orange </strong></p>
        <ul class="titre_stage"><strong>FULL STACK WEB DEVELOPER : </strong> <em>March 2024 -&nbsp;Present</em>
            <li class="tache_stage">Participation in the development and testing of back-end and front-end components related to a Paas portal at Orange.</li>
            <li class="tache_stage">Contribution to drafting technical and functional specifications</li>
            <li class="tache_stage">Facilitation of agile ceremonies (Scrum and SaFe) and involvement in task complexity estimation.</li>
            <li class="tache_stage">Identifying project improvement areas and presenting work to the team and client during system demos.</li>
            <li class="tache_stage">Conducting technical and functional studies.</li>
        </ul>
            
            
            
            
	</div>
	<div class="stack gap-2 lg:gap-4">
		<img
			alt="isty image"
			width="100"
			height="50"
			src="/assets/lead_wire.png"
		/>
		<h2>LEAD WIRE</h2>
        <ul class="titre_stage"><strong>FULL STACK WEB DEVELOPER (E-commerce) :</strong> <em>May 2023 -&nbsp;july 2023</em> 
            <li class="tache_stage">Design and development of a Full Stack e-commerce application with Angular and Spring Boot, offering a smooth user experience.</li>
            <li class="tache_stage">Creation of a shopping cart and secure credit card payment processing via the Stripe API, ensuring user trust.</li>
            <li class="tache_stage">Efficient use of a MySQL database for data storage, ensuring optimal information management.</li>
            <li class="tache_stage">Optimization of application performance for fast navigation and a smooth user experience, enhancing customer satisfaction.</li>
        </ul>
    </div>
    <div class="stack gap-2 lg:gap-4">
		<img
			alt="isty image"
			width="300"
			height="50"
			src="/assets/Attijariwafa-Bank-Europe-logo.png"
		/>
		<h2>Attijariwafa Bank</h2>
        <ul class="titre_stage"><strong>Introductory Internship :</strong><em> June 2022 -&nbsp;August 2022</em>
            <li class="tache_stage">Collaboration in the development of a banking management application using HTML, CSS, Bootstrap, and Java.</li>
            <li class="tache_stage">Design of a responsive user interface for a better user experience.</li>
            <li class="tache_stage">Participation in team meetings to discuss project progress and address challenges.</li>
            <li class="tache_stage">Collaboration with team members to integrate front-end and back-end components.</li>
        </ul>
    </div>
	<div class="stack gap-2 lg:gap-4">
		<img
			alt="isty image"
			width="300"
			height="50"
			src="/assets/arabsoft.png"
		/>
		<h2>ARAB SOFT</h2>
        <ul class="titre_stage"><strong>Web Developer : </strong> <em>February 2021 -&nbsp;May 2021</em>
            <li class="tache_stage">Implementation of user authentication and authorization for secure access.</li>
            <li class="tache_stage">Collaboration with the design team to create intuitive and user-friendly interfaces.</li>
            <li class="tache_stage">Participation in code reviews to ensure code quality and adherence to best practices.</li>
        </ul>	
    </div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}
    
    .tache_stage{
        color: var(--gray-400);

    }
    .titre_stage{
        color: var(--gray-400);
    }

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
